<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886913267321-rvr8ellm2dqdt1qpvd44rgd26jdi49sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886913267321-rvr8ellm2dqdt1qpvd44rgd26jdi49sc</string>
	<key>API_KEY</key>
	<string>AIzaSyDymVq7h2t1NsIbM0KhBqwaNL2bOFXZ5RE</string>
	<key>GCM_SENDER_ID</key>
	<string>886913267321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appmotus</string>
	<key>PROJECT_ID</key>
	<string>fluttermotus</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermotus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886913267321:ios:201bfbf7d808f3db76c6a8</string>
</dict>
</plist>